a:link {
    text-decoration: none;
    color: green;
}
a:active {
    color: yellow;
}
a:visited {
    color: brown;
}

th, td, tr{
    border: 1px solid black;
}
table {
    width: 500px;
    height: 500px;
    border: 1px dotted red;
}